# Node
node_modules/
coverage/
.vite/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Caché local
.cache/
geo_cache.json
